.gradle/
assets/
build/
libs/
libs-bare/
**/bin/**
**/dist/**
**/gen/**
**/obj/**
**/temp/**
.classpath
.project
copyassets.sh
deploy-ant.sh
deploy-gradle.sh
genkey.sh
local.properties
proguard-project.txt
version.txt
